<% provide(:title, 'Contact Author of') %>

<h1>
	Contact the Author
</h1>
<p>
	This application is initially created by 
	<a href="mailto:David.Smyth@Millennium-Space.com?subject=Poetry">David E. Smyth</a>
	at <a href=http://www.millennium-space.com>Millennium Space Systems</a>.
	If you want information, help, or better yet, to help, or just to chat, feel free to contact
	the author. 
</p>
<p>
	Over time, perhaps more people will help on this project, and the
	set of people to contact will increase.
</p>
