<% provide(:title, 'Help for') %>

<div class="center hero-unit">

<h1>
	Help with Poetry
</h1>
<p>
	First, be aware this is just starting out. It isn't close to being finished yet.
</p>
<p>
    Second, the system is being developed to discover the MVP, or "minimum viable product." So don't expect, or ask for, an all singing, all dancing, do everything anyone can imagine system. The minimum viable product is that version of a new product that allows a team to collect the maximum amount of validated learning about customers with the least effort.
</p>
<p>
	The MVP will focus on the following:
</p>
<ul>
	<li>
		 Image Processing
		<em>
			<%= link_to( "OpenCV:", "http://opencv.org" ) %>
			Open Source Computer Vision. Programmable via Ruby using the
			ruby-opencv gem. Provides image processing, feature detection,
			and object detection, including machine learning (cascade classifier
			training).
		</em>
	</li>
	<li>
		Web Framework 
		<em>
			<%= link_to( "Ruby on Rails:", "http://rubyonrails.org" ) %>
			Open source framework enabling TDD and BDD (test/behavior driven development), Web interfaces, databases, scalability infrastructures,
			and just plain old code to be developed, tested, deployed, and
			updated.
		</em>
	</li>

</ul>

<p>
	If you are still confused, send email to me, 
	<a href="mailto:David.Smyth@Millennium-Space.com?subject=Poetry">David E. Smyth</a>
	and I hope I can help.
</p>

<!-- Someone somewhere is adding an extra end-div,
	so while it looks like we need this, we do not!
</div>
-->
