<% provide(:title, 'Home of') %>

<div class="center hero-unit">

<h1>
	Poetry
</h1>
<h2>
	A Distributed Embedded and Server Based System For Scientific Exploration using Spacecraft, Observatories, and Devices
</h2>

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>

