<% provide(:title, 'Home of') %>

<div class="center hero-unit">

<h1>
	Poetry - A Distributed Embedded and Server Based System
</h1>
<h1 class="h1-sub">
	For Scientific Exploration using Spacecraft, Observatories, and Devices
</h2>

<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>


</div>

