<% provide(:title, 'User Profile') %>

<div class="center hero-unit">

<%= @user.name %>, <%= @user.email %>

<!-- Someone somewhere is adding an extra end-div,
	so while it looks like we need this, we do not!
</div>
-->