<footer class="footer">
  <small>
    <a href="http://www.millennium-space.com">Millennium Space Systems</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path   %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.millennium-space.com/#press">News</a></li>
    </ul>
  </nav>
</footer>